*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    height:100vh;
    background-image: url(img.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
}
.checkbox-container{
 display:flex;
 justify-content: center;
 align-items: center;
 gap:30px;
 margin-top: 30px;
}

.item{
display:flex;
gap:10px;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
}

.container h1{
   color:white;
   font-size: 50px;
}

input[type="checkbox"]{
    width:20px;
    height:20px;
    accent-color:#808b96 ;
}

label{
    font-size: 25px;
    color:#f2f3f4 ;
  
}
button{
margin-left: 180px;
margin-top: 30px;
width:120px;
padding:8px;
background-color: #c0392b ;
box-shadow: 0 0 10px white;
border-radius: 8px;
color:white;
font-size: 15px;
font-weight:bold;
cursor: pointer;

}
section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section h2 {
    padding: 10px 10px;
    background-color: #DCD9D4;
 background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
 background-blend-mode: soft-light,screen;
    color:balck;
    font-size: 1.3rem;
    align-self: center;
    margin-bottom: 1.5rem;
    border-radius: 10px;
   
  }
 
  /* section h2 span.myId {
    font-size: 1.8rem;
  
  } */
  .food-img-container {
    overflow: hidden;
    width: 80%;
    max-width: 500px;
    max-height: 350px;
    min-width: 250px;
    border-radius: 20px;
    display: none;
  }
  img {
    height: 100%;
    width: 100%;
    transform: scale(1);
    transition: all 0.8s ease-in-out;
  }
  img:hover {
    transform: scale(1.1);
  }